
  .Aside2ContainerMayor {
    display: flex;
    width: 200px ; /* Ancho mínimo de 4 cm */
    background-color: #333;
    padding: 10px;
  }

  .Aside2ContainerMenor {
    flex-grow: 1;
    width: 20%; /* Ancho de la columna de 4 cm */
    background-color: #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .indicadorImagen {
    width: 10%;
  }

  .menuAside {
    width: 100px; /* Ancho del icono del menú */
    height: 100px; /* Alto del icono del menú */
    /* Agrega aquí estilos adicionales para el icono del menú */
  }
  
  .Aside2Titulo {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .Aside2Listado {
    display: flex;
    flex-direction: column;
    flex-grow: 0.3;
    
  }

  .Aside2ListadoItem {
    flex-grow: 0.3;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 5px;
    /* Agrega aquí estilos adicionales para los elementos de la lista */
  }
  