.Aside2ContainerMayor {
    display: flex;
    height: 100vh;
    /*flex-wrap: wrap;  Ocupa toda la altura de la ventana */
  }
  
  .Aside2ContainerMenor {
    width: 4cm; /* Ancho de la columna de 5 cm */
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .menuAside {
    width: 100px; /* Ancho del icono del menú */
    height: 100px; /* Alto del icono del menú */
    /* Agrega aquí estilos adicionales para el icono del menú */
  }
  
  .Aside2Titulo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .Aside2ListadoItem {
    margin-bottom: 10px;
    /* Agrega aquí estilos adicionales para los elementos de la lista */
  }
  