.board-row {
  display: flex;
  flex-direction: column;
}
input {
  width: 100%;
}
.formulario-container{
  
    width: calc(100% - 200px);
    /* Restar el ancho del aside */
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  
}