span2{
    color:black;
  }
 .card {
    background-color: rgba(92, 86, 86, 0.301);
  } 

  
  
  
/*   .card2 {
    background-color: white;
    opacity: 50;
  } */
/*   .formulario {
    opacity: 0.5;
  } */
  
