.PrimeroContainer {
  width: calc(100% - 200px);
  /* Restar el ancho del aside */
  padding: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}


.PrimeroContenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.primero-main {
  height: 80px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: auto;
  color: #021605;
}

.primeroMensaje {
  /* Color de fondo semi-transparente */
  background-color: rgba(192, 188, 188, 0.597);
  min-height: 50%;
  margin-top: 10%;
}


h1, p  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.eleccion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
 
}

.eleccion button {
  color: #191815;
  text-align: center;
}


.tablaPrimero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
}

.image-cell {
  display: flex;
  align-items: center;
}

.image-cell img {
  margin-right: 20px;
  /* Ajusta el valor según el espacio deseado */
}
