.PrimeroContainer {
  width: calc(100% - 200px);
  /* Restar el ancho del aside */
  /* padding: 10px; */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}


.PrimeroContenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.primero-main {
  height: 80px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: auto;
  color: #021605;
}

.primeroMensaje {
  /* Color de fondo semi-transparente */
  background-color: rgba(92, 86, 86, 0.301);
  min-height: 50%;
  margin-top: 5%;
}

.primero-main h1, .primero-main p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}



.eleccion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom:5%;
 
}

.eleccion button {
  color: #191815;
  text-align: center;
}


.tablaPrimero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
}

.tablaPrimero th, .tablaPrimero td {
  background-color: rgba(251, 233, 233, 0.874);
  /* Otros estilos específicos para los encabezados */
}

.image-cell {
  display: flex;
  align-items: center;
}

.image-cell img {
  margin-right: 20px;
  /* Ajusta el valor según el espacio deseado */
}

.botones-generico{
  color:black
}