.PrimeroContainer {
  width: calc(100% - 200px);
  /* Restar el ancho del aside */
  padding: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}


.PrimeroContenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.primero-main {
  background-color: rgba(50, 49, 49, 0.781);
  /* Color de fondo semi-transparente */
  height: 225px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0c13e;
}

.eleccion button {
  color: #191815;
  text-align: center;
  /*  quiero centrar los botones pero lo siguiente no funciona: 
    display: flex;
    flex-direction: column;
    align-items: center; */
}


.tablaPrimero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 150px;
}

.image-cell {
  display: flex;
  align-items: center;
}

.image-cell img {
  margin-right: 20px;
  /* Ajusta el valor según el espacio deseado */
}
